@using MvcCV1.Models.Entity;
@model List<Skills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = "";}
@{ string labelrenk = "";}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Skill List</h3>
                            </div>
                            <div class="card-body">
                                <br />
                                <a href="/Skill/AddSkill/" class="btn btn-info">Yeni Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Task</th>
                                            <th>Progress</th>
                                            <th style="width: 40px">Status</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Status1 >= 50 && item.Status1 <= 0)
                                            {
                                                renk = "progress-bar bg-danger";
                                                labelrenk = "badge bg-danger";
                                            }
                                            if (item.Status1 >= 51 && item.Status1 <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                                labelrenk = "badge bg-warning";
                                            }
                                            if (item.Status1 >= 71 && item.Status1 <= 84)
                                            {
                                                renk = "progress-bar bg-primary";
                                                labelrenk = "badge bg-primary";
                                            }
                                            if (item.Status1 >= 85 && item.Status1 <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                                labelrenk = "badge bg-success";
                                            }
                                            <tr>

                                                <td>@item.SkillID</td>
                                                <td>@item.SkillName</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width:@item.Status1%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelrenk">@item.Status1%</span></td>
                                                <td><a href="/Skill/DeleteSkill/@item.SkillID/" class="btn btn-outline-warning"><i class="fas fa-trash"></i>Sil</a></td>
                                                <td><a href="/Skill/EditSkill/@item.SkillID/" class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i>Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="../../dist/js/demo.js"></script>
</body>
</html>


