@model MvcCV1.Models.Entity.Education

@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Education Ekleme Paneli</h1>
<br />
<form method="post">
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Title,"",new {@style="color:red" })
    <br />
    @Html.Label("Subtitle1")
    @Html.TextBoxFor(x => x.Subtitle1, new { @class = "form-control" })
    <br />
    @Html.Label("Subtitle2")
    @Html.TextBoxFor(x => x.Subtitle2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

