@model MvcCV1.Models.Entity.Education
@{
    ViewBag.Title = "EditEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Education Güncelleme Paneli</h1>
<br />
<form method="post">
    @Html.Label("EducationID")
    @Html.TextBoxFor(x => x.EducationID, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Subtitle")
    @Html.TextBoxFor(x => x.Subtitle1, new { @class = "form-control" })
    <br />
    @Html.Label("Subtitle2")
    @Html.TextBoxFor(x => x.Subtitle1, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>





