@model MvcCV1.Models.Entity.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Admin Güncelleme Paneli</h1>
<br />
<form method="post">
    @Html.Label("Login ID")
    @Html.TextBoxFor(x => x.LoginID, new { @class = "form-control" })
    <br />
    @Html.Label("UserName")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Password")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

